<span class="side-links">
  <% if current_user.is_admin %>
    <%= link_to 'backoffice', meal_categories_path, class: 'clean-link -active' %>
  <% end %>
  <span>perfil</span>
  <span><%= link_to 'sair', destroy_user_session_path, method: :delete, class: 'clean-link' %></span>
</span>