<span class="side-links">
  <span><%= link_to 'entrar', new_user_session_path, class: 'clean-link' %></span>
  <span><%= link_to 'cadastro', new_user_registration_path, class: 'clean-link' %></span>
</span>