<div class="selector-menu">
  <div>Pedidos</div>
  <div>Usuários</div>
  <div>Refeições</div>
  <%# <div>Categorias de Refeições</div> %>
  <%= link_to "Categorias de Refeições", meal_categories_path%>
</div>
