<div class="selector-menu">
  <div>Pedidos</div>
  <div>Usuários</div>
  <div>Refeições</div>
  <%= link_to "Refeições", meals_path %>
  <%= link_to "Categorias de Refeições", meal_categories_path %>
</div>
