<tr>
  <td><%= category.name %></td>
  <td><%= category.meal_ammount %></td>
  <td><%= category.created_at %></td>
  <td><span class="editar">editar</span></td>
  <td> <%= link_to "excluir", category, method: :delete, class: "excluir" %> </td>
</tr>