<tr>
  <td><%= category.name %></td>
  <td><%= category.meal_ammount %></td>
  <td><%= category.created_at %></td>
  <td><span class="editar">editar</span></td>
  <td><span class="excluir">excluir</span></td>
</tr>