<div class="main-container">
  <!-- imagem superior -->
  <%= render "superior_image" %>

  <!-- menu seletor -->
  <%= render "selector_menu" %>

  <!-- area do form -->
  <div class="table-area">
    <h2>Nova categoria de refeição</h2>
    <%= render "category_form" %>
  </div>
</div>