<div class="main-container">
  <!-- imagem superior -->
  <%= render "superior_image" %>

  <!-- menu seletor -->
  <%= render "selector_menu" %>

  <!-- area do form -->
  <div class="table-area">
    <%= render "category_form" %>
  </div>
</div>