<div class="backoffice-main-container">

  <!-- imagem superior -->
  <%= render "backoffice/superior_image" %>

  <!-- menu seletor -->
  <%= render "backoffice/selector_menu" %>

  <%# area do form %>
  <div class="table-area">
    <div class="backoffice-form" id="meal-form">
      <h5>Editar Refeição</h5>
      <hr class="hr-divider">
      <%= render 'form' %>
    </div>
  </div>
</div>
