<div class="backoffice-main-container">

  <!-- imagem superior -->
  <%= render "backoffice/superior_image" %>

  <!-- menu seletor -->
  <%= render "backoffice/selector_menu" %>

  <%# area do form %>
  <div class="table-area">
    <%= render 'form' %>
  </div>
</div>
