// Place all the styles related to the meal_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.newcateg-link {
  display: inline-block;
  color: rgb(246, 246, 246);
  background-color: rgb(56, 203, 107);
  padding: 0.4em;
  margin-top: 0.6em;
  border-radius: 3px;
  align-self: flex-start;

  &:hover {
    background-color: #1fa54e;
    color: rgb(246, 246, 246);
    text-decoration: none;
  }

  &:active {
    background-color: #4ace78;
    border: 1px solid #1fa54e;
    color: rgb(246, 246, 246);
    text-decoration: none;
  }
}

.newcateg-container {
  width: fit-content;
}
